<div class="left-column">
  <div class="image-box">

    <!-- Main Image Carousel -->
    <div class="main-image main-frame">
      <button class="arrow left" (click)="prevImage()">
        <i class="fa-solid fa-chevron-left"></i>
      </button>

      <div class="carousel-book">
        <div class="page" *ngFor="let img of images; let i = index" [class.active-page]="i === activeIndex">
          <img
            [src]="img"
            alt="Main Product Image"
            class="zoom-image"
            (error)="handleMainError($event)"
          />
        </div>
      </div>

      <button class="arrow right" (click)="nextImage()">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>

    <!-- Thumbnails -->
    <div class="thumbnails">
      <div
        class="thumb c-thumb"
        *ngFor="let img of images; let i = index"
        [class.active]="i === activeIndex"
        (click)="selectImage(i)"
      >
        <img [src]="img" (error)="handleThumbError(i)" />
      </div>
    </div> 

  </div>
</div>
