<div class="deal-section">
  <!-- Loading State (Skeleton) -->
  <ng-container *ngIf="isLoading; else content">
    <div class="deal-card skeleton" *ngFor="let card of dealCards">
      <div class="deal-header">
        <h5>{{ card.title }}</h5>
        <i class="bi bi-chevron-right"></i>
      </div>
      <div class="image-row">
        <div class="deal-product-img skeleton-item" *ngFor="let i of [1,2]">
          <div class="skeleton-img"></div>
          <div class="skeleton-price"></div>
          <div class="skeleton-text"></div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Actual Content -->
  <ng-template #content>
    <div class="deal-card" *ngFor="let card of dealCards; let cardIndex = index">
      <div class="deal-header">
        <h5>{{ card.title }}</h5>
        <i class="bi bi-chevron-right"></i>
      </div>
      <div class="image-row">
        <div class="deal-product-img" *ngFor="let product of card.products; let productIndex = index"
          [routerLink]="['/product-detail', product.id, product.storeProductId]" style="cursor: pointer;">
          <div class="img-container">
            <img [src]="product.image || getFallbackImage(cardIndex, productIndex)"
                 (error)="onImgError($event, cardIndex, productIndex)"
                 alt="Product Image">
            <img *ngIf="product.hoverImage"
                 [src]="product.hoverImage"
                 (error)="onHoverImgError($event)"
                 class="hover-img"
                 alt="Product Hover Image">
          </div>
          <p class="product-price">{{ product.price }}</p>
          <p class="product-price-text" *ngIf="product.priceText">{{ product.priceText }}</p>
          <p class="product-tag" *ngIf="product.tag">{{ product.tag }}</p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
