<header class="order-header">
  <div class="header-left">
    <div class="logo-container">
      <img src="/assets/images/world-favicon.svg" alt="World Cart Us Logo" class="order-logo-img">
      <span class="logo">{{ brandName }}</span>
    </div>

    <div class="location" *ngIf="showLocation">
      <i class="fas fa-map-marker-alt"></i>
      <span>{{ shippingAddress }}</span>
    </div>
  </div>

  <div class="secure-checkout">
    <i class="fas fa-lock"></i>
    <span>Secure Checkout</span>
  </div> 
</header>
